
body
{
font-family:Times;
font-size: 19px;
background-image: url(images/mainpage.jpg);
background-size: 1500px 1000px;
}
#wrapper
{
    color: white;
    background-color:rgb(40, 54, 54);
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: 800px;
}
header
{
    line-height: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 3px solid rgb(1, 1, 15)
}

article
{
    width: 850px;
    margin-left: 10px;
    line-height: 30px;
    float: left;
    position: absolute;
    padding-left: 20px;
}
footer
{
background-color: rgb(1, 1, 15);
font-size: 15px;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
position: absolute;
top: 800px;
width: 1050px;
}

a:hover{
    color: rgb(73, 18, 177);
}
a
{
color: white;
}
table{
	width:100%;
    background-color: rgb(1, 1, 15);
    font-size: 25px;
}
th{
	border: hidden;
}
a.impressum{
    float: left;
    padding-left: 20px;
}
a.mainpage{
    float: left;
    padding-left: 20px;
}
.impressum1{
    font-size: 12px;
}
.cart{
    color:rgb(26, 168, 204);
}
.table2{
    font-size: 17px;
}

